html, body {
  background-color: #263238;
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  margin: auto;
  /* position: static; */
  /* top: -10000px; */
}

table, th, td {
  border: 1px solid;
  color: aliceblue;
  margin-left: 90px;
  /* margin-top: auto; */
  top: auto;
  text-align: center;
  position: static;
}

.ui-elements{
  position:relative;
  top: 750px;
  width: 900px;
  margin: auto;
  color: white;
}
.ui-slider-range{
    /* position:relative; */
  background-color: #4caf50;
}
main{
  text-align:center;
}